<footer>
  <div class="social-wrapper">
    <a
      title="Discord"
      href="https://discord.com/invite/2fMYpZs3"
      target="_blank"
      ><i class="fa-brands fa-discord"></i
    ></a>
    <a
      title="Utee Akaninyene Twitter"
      href="https://twitter.com/xla_ez"
      target="_blank"
      ><i class="fa-brands fa-x-twitter"></i
    ></a>
    <a
      title="Utee Akaninyene Github"
      href="https://github.com/Xlaez"
      target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a
      href="https://medium.com/@xlaezkamou"
      title="Utee Akaninyene Medium | Software Engineer"
      target="_blank"
      ><i class="fa-solid fa-globe"></i
    ></a>
  </div>
  <div class="credits">
    <p>
      Copyright © 2023-{{ currentDate | date : 'yyyy' }} MIT by
      <a
        href="https://medium.com/@xlaezkamou"
        target="_blank"
        title="Utee Akaninyene Medium | Software Engineer"
      >
        Utee Akaninyene</a
      >
      and
         <a
        href="https://christopheregbaaibon.medium.com"
        target="_blank"
        title="Chris Egbaaibon Medium | FullStack Developer"
      >
        Chris Egbaaibon
</a
      >
      <span class="separator"></span> design by
      <a
        href="https://dribbble.com/JakubStaron"
        title="Jakub Staron Dribble"
        target="_blank"
        >Jakub Staron</a
      >
      <!-- <br />
      Official DolphJS Consulting
      <a
        href="https://dolph.io"
        target="_blank"
        title="Official DolphJS Consulting"
      >
        dolph.io</a
      >
      <span class="separator"> </span> hosted by
      <a href="https://www.netlify.com" target="_blank">Vercel</a> -->
    </p>
  </div>
</footer>
