<div class="social-wrapper">
  <a href="https://twitter.com/dolphjs" title="Twitter account" target="_blank">
    <i class="fa-brands fa-x-twitter"></i>
  </a>
  <a
    href="https://github.com/dolphjs/dolph"
    title="Github repository"
    target="_blank"
  >
    <i class="fa-brands fa-github"></i>
  </a>
  <a
    href="https://stackoverflow.com/questions/tagged/dolphjs"
    title="Stackoverflow"
    target="_blank"
  >
    <i class="fa-brands fa-stack-overflow"></i>
  </a>
  <a
    href="https://dolphjs.com"
    title="NestJS - A node.js framework built on top of express"
    target="_blank"
  >
    <i class="fa fa-globe"></i>
  </a>
  <a
    href="https://discord.gg/G7Qnnhy"
    title="Discord"
    target="_blank"
    rel="nofollow"
  >
    <i class="fa-brands fa-discord"></i>
  </a>
</div>
