// Base colors
$white-color: #f9f8f8;
$silver-color: #f3f5f7;
$darksilver-color: #a5a5a5;
$grey-color: #404040;
$darkgrey-color: #272727;
$black-color: #151515;
$red-color: #ed2945;

$lightblue-color: #535c91;
$blue-color: #1b1a55;
$darkblue-color: #070f2b;
